html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
	padding: 0 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	background-image: url(../img/body_bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #8462dd;
	background-size: cover;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

b,
strong {
	font-weight: bolder;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

img {
	border-style: none;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

textarea {
	overflow: auto;
}

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

a {
	text-decoration: none;
	transition: all .3s ease;
	color: #7a98d6;
}

a:hover {
	color: #2952a5;
}

.wrapper {
	width: 100%;
	max-width: 1394px;
	margin: 40px auto;
	border-radius: 8px;
	background-color: #fff;
}


/* input */
.input {
	display: block;
	padding: .7em 1em;
	border: 0;
	border-radius: 6px;
	font-size: .9em;
	line-height: 1.5;
	background: #f7f8fd;
	color: #959db4;
	box-shadow: inset 0 0 0 1px #f3f6fd;
	transition: box-shadow .3s ease;
}

.input:hover {
	box-shadow: inset 0 0 4px rgba(0, 0, 0, .12);
}

.input:focus {
	outline: none;
	box-shadow: inset 0 0 8px rgba(0, 0, 0, .12);
}

.input:valid {
	box-shadow: inset 0 0 3px rgba(0, 0, 0, .12);
}

.input_search {
	width: 100%;
	max-width: 450px;
	padding-left: 3.25em;
	background-repeat: no-repeat;
	background-position: 16px 50%;
	background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMjkgMTI5IiB3aWR0aD0iMTdweCIgaGVpZ2h0PSIxN3B4Ij4KICA8Zz4KICAgIDxwYXRoIGQ9Ik01MS42LDk2LjdjMTEsMCwyMS0zLjksMjguOC0xMC41bDM1LDM1YzAuOCwwLjgsMS44LDEuMiwyLjksMS4yczIuMS0wLjQsMi45LTEuMmMxLjYtMS42LDEuNi00LjIsMC01LjhsLTM1LTM1ICAgYzYuNS03LjgsMTAuNS0xNy45LDEwLjUtMjguOGMwLTI0LjktMjAuMi00NS4xLTQ1LjEtNDUuMUMyNi44LDYuNSw2LjUsMjYuOCw2LjUsNTEuNkM2LjUsNzYuNSwyNi44LDk2LjcsNTEuNiw5Ni43eiBNNTEuNiwxNC43ICAgYzIwLjQsMCwzNi45LDE2LjYsMzYuOSwzNi45Qzg4LjUsNzIsNzIsODguNSw1MS42LDg4LjVjLTIwLjQsMC0zNi45LTE2LjYtMzYuOS0zNi45QzE0LjcsMzEuMywzMS4zLDE0LjcsNTEuNiwxNC43eiIgZmlsbD0iIzk3YTFiYSIvPgogIDwvZz4KPC9zdmc+Cg==');
}

.input_search:focus {
	background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMjkgMTI5IiB3aWR0aD0iMTdweCIgaGVpZ2h0PSIxN3B4Ij4KICA8Zz4KICAgIDxwYXRoIGQ9Ik01MS42LDk2LjdjMTEsMCwyMS0zLjksMjguOC0xMC41bDM1LDM1YzAuOCwwLjgsMS44LDEuMiwyLjksMS4yczIuMS0wLjQsMi45LTEuMmMxLjYtMS42LDEuNi00LjIsMC01LjhsLTM1LTM1ICAgYzYuNS03LjgsMTAuNS0xNy45LDEwLjUtMjguOGMwLTI0LjktMjAuMi00NS4xLTQ1LjEtNDUuMUMyNi44LDYuNSw2LjUsMjYuOCw2LjUsNTEuNkM2LjUsNzYuNSwyNi44LDk2LjcsNTEuNiw5Ni43eiBNNTEuNiwxNC43ICAgYzIwLjQsMCwzNi45LDE2LjYsMzYuOSwzNi45Qzg4LjUsNzIsNzIsODguNSw1MS42LDg4LjVjLTIwLjQsMC0zNi45LTE2LjYtMzYuOS0zNi45QzE0LjcsMzEuMywzMS4zLDE0LjcsNTEuNiwxNC43eiIgZmlsbD0iIzUwNjE3ZiIvPgogIDwvZz4KPC9zdmc+Cg==');
}

.input_search:valid {
	background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMjkgMTI5IiB3aWR0aD0iMTdweCIgaGVpZ2h0PSIxN3B4Ij4KICA8Zz4KICAgIDxwYXRoIGQ9Ik01MS42LDk2LjdjMTEsMCwyMS0zLjksMjguOC0xMC41bDM1LDM1YzAuOCwwLjgsMS44LDEuMiwyLjksMS4yczIuMS0wLjQsMi45LTEuMmMxLjYtMS42LDEuNi00LjIsMC01LjhsLTM1LTM1ICAgYzYuNS03LjgsMTAuNS0xNy45LDEwLjUtMjguOGMwLTI0LjktMjAuMi00NS4xLTQ1LjEtNDUuMUMyNi44LDYuNSw2LjUsMjYuOCw2LjUsNTEuNkM2LjUsNzYuNSwyNi44LDk2LjcsNTEuNiw5Ni43eiBNNTEuNiwxNC43ICAgYzIwLjQsMCwzNi45LDE2LjYsMzYuOSwzNi45Qzg4LjUsNzIsNzIsODguNSw1MS42LDg4LjVjLTIwLjQsMC0zNi45LTE2LjYtMzYuOS0zNi45QzE0LjcsMzEuMywzMS4zLDE0LjcsNTEuNiwxNC43eiIgZmlsbD0iIzUwNjE3ZiIvPgogIDwvZz4KPC9zdmc+Cg==');
}

.input_search::-webkit-input-placeholder {
	color: #959db4;
}

.input_search::-moz-placeholder {
	color: #959db4;
}

.input_search:-ms-input-placeholder {
	color: #959db4;
}
/* END input */


/* header */
.header {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 12px 80px;
	border-radius: 8px 8px 0 0;
	background-color: #fff;
	z-index: 99;
}

.header__logo {
	display: block;
	min-width: 163px;
	width: 163px;
	height: 67px;
	margin-left: -7px;
	text-indent: -9999px;
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-size: 163px 67px;
}

.header__menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	box-sizing: border-box;
}

.header__avatar {
	display: inline-block;
	width: 43px;
	min-width: 43px;
	height: 43px;
	margin-left: 28px;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 0 20px #f2f2f2;
}

.header__avatar img {
	display: block;
}
/* END header */


/* burger */
.burger {
	position: relative;
	display: none;
	width: 42px;
	min-width: 42px;
	height: 31px;
	margin-right: -8px;
	padding: 8px;
	font-size: 0;
	cursor: pointer;
	z-index: 999;
}

.burger__wrapper {
	position: absolute;
	top: 16px;
	left: 16px;
	min-width: 26px;
	height: 16px;
	outline: none;
	display: inline-block;
	transition: .2s linear;
}

.burger__line {
	position: absolute;
	display: block;
	width: 100%;
	height: 2px;
	top: 50%;
	margin-top: 0px;
	background-color: #45577b;
	cursor: pointer;
	transition: transform .2s linear, background-color .2s ease, opacity .2s ease, width .2s linear;
	outline: none;
}

.burger__line:nth-child(1) {
	transform: translateY(-8px);
}

.burger__line:nth-child(2) {
	transform: translateY(-1px);
}

.burger__line:nth-child(3) {
	transform: translateY(6px);
}

.burger.active .burger__line:nth-child(1) {
	transform: translateY(0) rotate(45deg);
}

.burger.active .burger__line:nth-child(2) {
	transform: scale(0.1, 1);
}

.burger.active .burger__line:nth-child(3) {
	transform: translateY(0) rotate(-45deg);
}
/* burger */


/* nav */
.nav__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	margin: 0 1.2em 0 0;
	padding: 0;
	text-transform: uppercase;
	font-weight: 700;
	font-size: .75em;
	letter-spacing: .05em;
}

.nav__item {
	margin: 0 1.98em;
}

.nav__link {
	color: #929db1;
}

.nav__item.active .nav__link,
.nav__link:hover {
	color: #50617f;
}

.nav_footer {
	margin-left: auto;
	margin-right: 2.5em;
}

.nav_footer .nav__item {
	margin: 0 2.6em;
}
/* END nav */


/* content */
.content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 36px 80px 38px;
	background-color: #fafbff;
	box-shadow: inset 0 0 24px -6px rgba(0, 0, 0, .15);
}

.content__col_left {
	width: 34.2%;
	margin-right: 36px;
	min-width: 422px;
}

.content__col_right {
	width: 62.8%;
}
/* END content */


/* footer */
.footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 30px 80px 27px;
}

.footer__logo {
	display: block;
	margin-bottom: 3px;
}

.footer__copyright {
	font-size: .75em;
	color: #78829d;
}
/* END footer */


/* social */
.social__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.social__item {
	margin: 0 18px;
}

.social__item:first-child {
	margin-left: 0;
}

.social__item:last-child {
	margin-right: 0;
}

.social__link {
	display: block;
	width: 16px;
	height: 16px;
	font-size: 0;
	background-repeat: no-repeat;
	background-size: 16px 16px;
}

.social__link svg {
	width: 16px;
	height: 16px;
	transition: fill .3s ease;
}

.social__link_fb:hover svg {
	fill: #4267B2;
}

.social__link_tw:hover svg {
	fill: #1da1f2;
}

.social__link_ig:hover svg {
	fill: #405de6;
}

.social__link_vm:hover svg {
	fill: #1ab7ea;
}
/* END social */


/* box */
.box {
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0 0 20px rgba(0, 0, 0, .05);
}

.box__head {
	padding: 24px 36px 21px;
	border-bottom: 1px solid #f6f6f8;
}

.box__title {
	font-weight: 400;
	font-size: 1.375em;
	margin: 0 0 .4em;
	letter-spacing: .0125em;
	color: #45577b;
}

.box__pictures {
	position: relative;
	margin-bottom: 1em;
}

.box__pictures:before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	right: -6px;
	width: 12px;
	height: 21px;
	margin-top: -11px;
	background-image: url(../img/arrow-right.png);
	background-repeat: no-repeat;
}

.box__image {
	display: inline-block;
	vertical-align: middle;
	max-width: 50%;
	max-height: 88px;
	margin-right: 1.3em;
}

.box__qr {
	display: inline-block;
	vertical-align: middle;
	width: 29px;
	height: 29px;
	padding: 8px;
	border-radius: 5px;
	box-shadow: 0 2px 12px rgba(0, 0, 0, .05);
}

.box__image img, 
.box__qr img {
	display: block;
	max-width: 100%;
	height: auto;
}

.box__id {
	display: inline-block;
	margin-bottom: .75em;
}

.box__content {
	padding: 19px 36px 16px;
	border-bottom: 2px solid #f9f9f9;
}

.box__foot {
	padding: 31px 36px 32px;
	text-align: center;
}
/* END box */


/* tableData */
.tableData {
	text-align: left;
	border: 0;
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 1.65;
	color: #8b97af;
}

.tableData th {
	width: 41%;
	vertical-align: top;
	padding: 8px 7px 7px 0;
	color: #536281;
}

.tableData td {
	vertical-align: top;
	padding: 8px 0 7px;
}
/* END tableData */


/* btn */
.btn {
	display: inline-block;
	padding: .95em 1.25em .95em;
	border: 0;
	border-radius: .2em;
	font-size: .75em;
	background-color: #e8f4ff;
	cursor: pointer;
	color: #8c98b2;
	transition: all .3s ease;
}

.btn:hover {
	background-color: #c8def3;
	color: #5e6b88;
}

.btn:focus {
	outline: none;
}

.btn:active {
	background-color: #a1c6e8;
	color: #434f69;
	transition: none;
}

.btn_edit {
	display: inline-block;
	width: 81.2%;
	max-width: 284px;
	padding: 1.4em 1.25em 1.4em;
	font-size: .95em;
	border-radius: .3em;
	background-color: #ff6364;
	color: #fff;
}

.btn_edit:hover {
	background-color: #f12425;
	color: #fff;
}

.btn_edit:active {
	background-color: #dc1516;
}
/* END btn */


/* msg */
.msg {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 33px;
	padding: 20px 26px;
	border-radius: 5px;
	background-color: #fff;
	color: #969eb3;
	box-shadow: 0 0 20px rgba(0, 0, 0, .05);
}

.msg__image {
	width: 37px;
	min-width: 37px;
	height: 37px;
	margin-right: 1.3em;
	border-radius: 50%;
	background-image: url(../img/ico-msg.png);
	background-repeat: no-repeat;
	box-shadow: 0 0 12px rgba(0, 0, 0, .05);
}

.msg__title {
	margin: 0 0 .2em;
	font-size: 1.0625em;
	color: #42547c;
}

.msg__text p {
	margin: 0;
	line-height: 1.6;
}
/* END msg */


/* map */
.map {
	min-height: 536px;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0 0 20px rgba(0, 0, 0, .05);
}

.gm-style .gm-style-iw {
	max-width: 165px;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: .23px;
}

.gm-style-iw__title {
	color: #5c94d1;
}

.gm-style-iw__route {
	font-size: 12px;
	line-height: 16px;
	letter-spacing: .17px;
	color: #555;
}
/* END map */

@media screen and (max-width: 1600px) {
	.header {
		padding: 12px 40px;
	}

	.nav__list {
		margin: 0 2em;
	}

	.nav__item {
		margin: 0 1.3em;
	}

	.content {
		padding: 36px 40px 38px;
	}

	.footer {
		padding-left: 40px;
		padding-right: 40px;
	}
}

@media screen and (max-width: 1024px) {
	body {
		padding: 0;
		background-image: none;
	}

	body.no-scroll {
		overflow: hidden;
	}

	.wrapper {
		margin: 0;
		border-radius: 0;
	}

	.header {
		padding: 12px 20px;
		border-radius: 0;
	}

	.header__menu {
		position: absolute;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		width: 100%;
		height: -webkit-calc(100vh - 90px);
		height: calc(100vh - 90px);
		padding: 15px 0;
		opacity: 0;
		visibility: hidden;
		border-top: 1px solid rgba(0,0,0,.1);
		top: 90px;
		left: 0;
		right: 0;
		background: #fff;
		overflow: hidden auto;
		-webkit-transition: .2s linear;
		transition: .2s linear;
	}

	.header__menu.active {
		opacity: 1;
		visibility: visible;
	}

	.header__menu .nav {
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2;
	}

	.header__avatar {
		-webkit-box-ordinal-group: 4;
		-ms-flex-order: 3;
		order: 3;
		margin-left: 0;
	}

	.nav__list {
		display: block;
		margin: 0 0 30px;
		text-align: center;
	}

	.nav_footer .nav__list {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin: 0 2em;
	}

	.nav__link {
		display: inline-block;
		padding: 7px 0;
	}

	.nav__item {
		margin: 0 20px;
	}

	.input_search {
		width: 100%;
		max-width: calc(100% - 40px);
		margin: 0 auto 28px;
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
	}

	.burger {
		display: block;
	}

	.content {
		padding: 26px 20px 30px;
		font-size: 14px;
	}

	.content__col_left {
		min-width: 300px;
		margin-right: 20px;
	}

	.box__head {
		padding: 20px 20px 21px;
	}

	.box__content {
		padding: 12px 20px 14px;
	}

	.msg {
		margin-bottom: 22px;
		padding: 20px;
	}

	.footer {
		padding-left: 20px;
		padding-right: 20px;
	}

	.social__item {
		margin: 0 12px;
	}
}

@media screen and (max-width: 800px) {
	.content {
		display: block;
	}

	.content__col_left {
		width: 100%;
		min-width: 280px;
		margin-bottom: 22px;
	}

	.content__col_right {
		width: 100%;
	}

	.nav_footer {
		display: none;
	}
}

@media screen and (max-width: 480px) {
	.footer__info {
		max-width: 125px;
	}

	.social__item {
		margin: 0 10px
	}
}
